{% extends 'partials/base.html' %} {% load static %} {% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<section class="commonall">
  <main>
    <div class="items-holder">
      {% for p in products %}
      <div class="item-card">
        <div>
          <img src="{{p.image.url}}" alt="" class="placeImage" />
        </div>
        <div class="item-details">
          <p>{{p.category}}</p>
          <p>{{p.title}}</p>
          <p>{{p.description}}</p>
          <p>$ <span class="product-price-{{p.id}}">{{p.price}}</span></p>
          <p>By {{p.vendor}}</p>
        </div>
        <div>
          <input
            type="number"
            name=""
            value="1"
            class="product-quantity-{{p.id}}"
          />
          <input
            type="hidden"
            name=""
            value="{{p.product_id}}"
            class="product-pid-{{p.id}}"
          />
          <input
            type="hidden"
            name=""
            class="product-image-{{p.id}}"
            value="{{p.image.url}}"
          />
          <input
            type="hidden"
            name=""
            class="product-id-{{p.id}}"
            value="{{p.id}}"
          />
          <input
            type="hidden"
            name=""
            value="{{p.title}}"
            class="product-title-{{p.id}}"
          />
        </div>
        <div>
          <button
            class="CartBtn add-to-cart-btn"
            type="submit"
            data-index="{{p.id}}"
            id="add-to-cart-btn"
          >
            <span class="IconContainer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
                fill="rgb(17, 17, 17)"
                class="cart"
              >
                <path
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
                ></path>
              </svg>
            </span>
            <p class="text">Add to Cart</p>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  <script src="{% static 'JAVASCRIPT/cart.js' %}"></script>
</section>
{% endblock content %}
